body{
    background-color: black;
}


li#lista-menu{
    list-style-type: none;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: black;
    color: white;
}
ul#menu{
    display: flex;
    flex-direction: row;
    justify-content: center;   
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
}
li#lista-menu:hover{
    background-color: white;
    color: black;   
}



.nome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    color: white;
    margin-top: 150px;
    
}
.quebra-de-linha{
    display: block;
}
#imagem{
    
    background-image: url('../img/perfil.jpg');
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 30px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
   
}
@media screen and (max-width: 400px) {
    .nome{
        flex-direction: column;
    }
    #imagem{
        display: none;
    }
    ul#menu{
        justify-content: center;
        
      
    }
}

@media screen and (max-width: 768px) {
    .nome{
        flex-direction: column;
    }
    #imagem{
        display: none;
    }
    ul#menu{
        justify-content: center;
        
      
    }


}

@media screen and (max-width: 1024px) {

    .nome{
        flex-direction: column;
        align-items: center;

    }
    .texto{
        margin-top: 20px;
    }
    ul#menu{
        justify-content: center;
    }
}



    

    


