body{
    background-color: black;
}
li#lista-menu:hover{
    list-style-type: none;
    padding: 10px;
    display: inline;
    margin-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: white;
    color: black;
    position: relative;
    left: 70%;
}

li#lista-menu{
    list-style-type: none;
    padding: 10px;
    display: inline;
    margin-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: black;
    color: white;
    position: relative;
    left: 70%;

}




.nome{
   display: flex;
   justify-content:center;
  
    
}
.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8rem;
    color: white;
    padding: 150px 0 0 30px;
}
.quebra-de-linha{
    display: block;
}
#imagem{
    
    background-image: url('../img/perfil.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
    left: 15%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    border-radius: 50%;
   
}

    

    


a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
}